@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

#tic-tac-toe {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: solid 2px black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 2rem;
}

.square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: solid 2px black;
    display: flex;
}

.square span {
    margin: auto;
}